<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
			type="text/css"
		/>
		<script src="jquery-3.4.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<link rel="stylesheet" href="style.css" type="text/css" />
		<link rel="stylesheet" href="adminstyle.css " type="text/css" />
	</head>
	<div class="container">
		<div class="row justify-content-center align-items-center" style="height:100vh">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<div style="color: red; text-align:center">Dang nhap that bai</div>
						<h2 align="center">User manage</h2>
						<form id="login" name="login" method="post" action="/login">
							<div class="form-group">
								<label>Username</label>
								<input id="username" type="text" name="username" class="form-control" placeholder="Username" />
							</div>

							<div class="form-group">
								<label>Password</label>
								<input id="password" type="password" name="password" class="form-control" placeholder="Password" />
							</div>
							<div style="text-align: center">
								<button type="submit" id="submit" name="submit" class="btn btn-success">Log in</button>
								<a href="regist" class="btn btn-success">Sign up</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
