<%- include("includes/head.ejs") %>
<%- include("includes/navigation.ejs") %>
<link rel="stylesheet" href="../css/main.css">
<section class="home-container">
</section>
<%- include("includes/end.ejs") %>