.home-container{
    width: 80vw;
    height: 80vh;
    margin-left: 140px;
	background: url('../img/1.-Bloomberg-Center_Credit-Matthew-Carbone-for-Morphosis-e1505416162523.jpg') center center no-repeat;
	background-size: cover;
}