
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Detail </title>
    <script type="text/javascript" src="load.js"></script>
</head>


<% var con = require('../connect');
    con.connect(function(err) {
        if (err) throw err;
        con.query("SELECT * FROM customers WHERE username='username'", function (err, result, fields) {
        if (err) throw err;
        console.log(result);
        });
    });
%>
<div align="center">


<table class="table table-striped alignmiddle">
                    <thead>
                        <tr class="student">
                            <th>Tài khoản: </th>
                            <th><%username%> </th>
                            
                        </tr>
                        <tr class="student">
                            <th>Họ và tên:</th>
                            <th><%fullname%> </th>
                            
                        </tr>
                        <tr class="student">
                            <th>Ngày sinh: </th>
                            <th><%dob%> </th>
                            
                        </tr>
                        <tr class="student">
                            <th>Nơi sinh: </th>
                            <th> <%pob%>  </th>                          
                        </tr>     
                        <tr class="student">
                            <th>Giới tính: </th>
                            <th> <%gender%> </th>                          
                        </tr>                          
                </table>    

                </div>           